<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<!-- 优先级：root<append<loger -->
	
	<contextName>wraper</contextName>

	<!-- 日志文件大小 -->
	<property name="log.max.size" value="100MB" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%X{req.requestId}] [%thread] [%-5level] [%logger{36}] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/wraper/wraper.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/var/log/wraper/wraper.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
			<maxFileSize>${log.max.size}</maxFileSize>
			<!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
			<!-- 当天的日志大小 超过${log.max.size}时,压缩日志并保存 -->
			<timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${log.max.size}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>[host:%X{req.remoteHost}][%d{yyyy-MM-dd HH:mm:ss.SSS}][%X{req.requestId}][%thread][%-5level][%logger{36}] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
		<syslogHost>localhost</syslogHost>
		<facility>local6</facility>
		<suffixPattern>[host:%X{req.remoteHost}][%d{yyyy-MM-dd HH:mm:ss.SSS}][%X{req.requestId}][%thread][%-5level][%logger{36}] - %msg%n</suffixPattern>
	</appender>

	<!-- 记录error日志 -->
	<appender name="all_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>/var/log/wraper/wraper_error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/var/log/wraper/wraper_error.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
			<maxFileSize>${log.max.size}</maxFileSize>
			<!--日志文件保留天数-->
            <MaxHistory>90</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${log.max.size}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>[host:%X{req.remoteHost}][%d{yyyy-MM-dd HH:mm:ss.SSS}][%X{req.requestId}][%thread][%-5level][%logger{36}] - %msg%n</pattern>
		</encoder>
	</appender>


	<!-- spring -->
	<logger name="org.springframework" level="ERROR" />
	<logger name="org.thymeleaf" level="ERROR" />
	<!-- mybatis -->
	<logger name="org.apache.ibatis" level="ERROR" />
	<logger name="org.mybatis" level="ERROR" />
	<logger name="java.sql.Connection" level="ERROR" />
	<logger name="java.sql.Statement" level="ERROR" />
	<logger name="java.sql.PreparedStatement" level="ERROR" />
	<logger name="java.sql.ResultSet" level="ERROR" />
	<logger name="com.alibaba.druid.sql" level="ERROR" />

<!--
	<springProfile name="test">
		<logger name="com.quanshi.wraper" level="debug" />
	</springProfile> -->
	<!-- 生产环境. -->
	<!--<springProfile name="prod">
		<logger name="com.quanshi.wraper" level="info" />
	</springProfile> -->

	<!-- project default level -->
	<logger name="com.quanshi.wraper" level="info" /> 
	
	<root level="INFO">
		<appender-ref ref="console" level="INFO" />
		<appender-ref ref="rollingFile" level="INFO" />
		<appender-ref ref="SYSLOG" level="INFO" />
		<appender-ref ref="all_error" level="ERROR" />
	</root>

</configuration>
